In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("E:\Epsilon_ai\Final_Project\Github\_Cleaned_locations.csv")

In [24]:
df.groupby("Column2")["Column1"].count().head(20)

Column2
Allerton/Pelham Gardens    13
Alphabet City              78
Astoria                    82
Auburndale                  6
Battery Park               12
Battery Park City          84
Bay Ridge                  24
Bayside                     5
Bedford                    32
Bedford Park                6
Belmont                    25
Bensonhurst East            8
Bensonhurst West           12
Bloomingdale               68
Boerum Hill                81
Borough Park               16
Briarwood/Jamaica Hills    10
Brighton Beach             14
Bronx Park                  8
Bronxdale                  20
Name: Column1, dtype: int64

In [8]:
df.head()

                   Column1                      Column2   Column3
0  Allerton/Pelham Gardens                      Astoria  3.646000
1  Allerton/Pelham Gardens           Claremont/Bathgate  2.420000
2  Allerton/Pelham Gardens                  Cobble Hill  3.833333
3  Allerton/Pelham Gardens           DUMBO/Vinegar Hill  3.932500
4  Allerton/Pelham Gardens  Downtown Brooklyn/MetroTech  3.544286

In [25]:
df[(df["Column1"] == "Battery Park") & ((df["Column2"] == "Cobble Hill"))]

Empty DataFrame
Columns: [Column1, Column2, Column3]
Index: []

In [26]:
df[df["Column2"] == "Cobble Hill"]

                      Column1      Column2   Column3
2     Allerton/Pelham Gardens  Cobble Hill  3.833333
200         Battery Park City  Cobble Hill  2.138980
394          Bensonhurst West  Cobble Hill  5.055000
491               Boerum Hill  Cobble Hill  0.404000
643                Bronx Park  Cobble Hill  4.436667
...                       ...          ...       ...
7938           West Concourse  Cobble Hill  4.246667
8276          Windsor Terrace  Cobble Hill  3.373143
8312       Woodlawn/Wakefield  Cobble Hill  4.968000
8412       World Trade Center  Cobble Hill  1.804416
8468           Yorkville East  Cobble Hill  3.405152

[64 rows x 3 columns]